*~
.vscode
build
.lock-waf*
README.html
*.pyc
doxy
*.aux
*.fls
*.log
*.nav
*.out
*.snm
*.otc
*.toc
*.vrb
*.root
*.fdb_latexmk
method.pdf
junk
test_*.pdf
venv
*.local
install
.waf-*
test_*.png
old
blah*
foo*
bar*
waf
dist
*.bz2
cut.*

GPATH
GRTAGS
GTAGS
HTML
docs
*.npz
log
.waf3*
install*
cut
calgrind.*
*.patch
venv*
clusters-*.dot
clusters-*.json
*.zip
data
calgrind.*
