[submodule "gen"]
	path = gen
	url = git@github.com:WireCell/wire-cell-gen.git
[submodule "sst"]
	path = sst
	url = git@github.com:WireCell/wire-cell-sst.git
[submodule "iface"]
	path = iface
	url = git@github.com:WireCell/wire-cell-iface.git
[submodule "rio"]
	path = rio
	url = git@github.com:WireCell/wire-cell-rio.git
[submodule "riodata"]
	path = riodata
	url = git@github.com:WireCell/wire-cell-riodata.git
[submodule "rootdict"]
	path = rootdict
	url = git@github.com:WireCell/wire-cell-rootdict.git
[submodule "util"]
	path = util
	url = git@github.com:WireCell/wire-cell-util.git
[submodule "docs"]
	path = docs
	url = git@github.com:WireCell/wire-cell-docs.git
[submodule "dfp"]
	path = dfp
	url = git@github.com:WireCell/wire-cell-dfp.git
[submodule "alg"]
	path = alg
	url = git@github.com:WireCell/wire-cell-alg.git
[submodule "rootvis"]
	path = rootvis
	url = git@github.com:WireCell/wire-cell-rootvis.git
[submodule "bio"]
	path = bio
	url = git@github.com:WireCell/wire-cell-bio.git
[submodule "apps"]
	path = apps
	url = git@github.com:WireCell/wire-cell-apps.git
[submodule "wire-cell-tbb"]
	path = wire-cell-tbb
	url = git@github.com:WireCell/wire-cell-tbb.git
[submodule "tbb"]
	path = tbb
	url = git@github.com:WireCell/wire-cell-tbb.git
[submodule "python"]
	path = python
	url = git@github.com:WireCell/wire-cell-python.git
[submodule "cfg"]
	path = cfg
	url = git@github.com:WireCell/wire-cell-cfg.git
[submodule "sigproc"]
	path = sigproc
	url = git@github.com:WireCell/wire-cell-sigproc.git
[submodule "waftools"]
	path = waftools
	url = git@github.com:WireCell/waf-tools.git
